:root {
    --color-main: #d60b52;
    --color-second: #ffffff;
    --color-third: #0a0a0aea;

    --padding-default: 2rem;

    --slant-rows-param: 2.5vh; //slant parameter for rows
    --negative-slant-rows-param: -2.5vh; // negative value (not working with calc()

    --slant-columns-param: 15vw; //slant parameter when elements placed in columns
    --negative-slant-columns-param: -15vw; // negative value (not working with calc()
}
