// COLORS
$color-primary: #d60b52;
$color-secondary: #ffffff;
$color-tertiary: #0a0a0aea;

// PADDING
$padding-default: 2rem;

// SLANT ELEMENTS
$slant-horizontal: 2rem; //slant parameter for rows
$slant-vertical: 20rem; //slant parameter for columns (desktop resolutions only)

// HERO IMAGE
$hero-small-min-height: 17rem;
$hero-bigger-min-height: 36rem;
