:root {
    --color-main: #d60b52;
    --color-second: #ffffff;
    --color-third: #0a0a0a;

    --padding-default: 2rem;

    --slant-rows-param: 2.5vh; //slant parameter for rows
    --negative-slant-rows-param: -2.5vh;

    --slant-columns-param: 10vw; //slant parameter for rows
    --negative-slant-columns-param: -10vw;
}
