@import 'variables';
@import 'mixins';

// ------------------------------------------------------------------------------------------

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Baloo', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 130%;
    text-align: center;
}

.site-header {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @include tablet {
        grid-template-rows: 1fr auto;
    }

    &__logo {
        @include tablet {
            position: absolute;
            right: 0;
        }
    }

    &__photo-box {
        background: url(../img/background-huge.jpg) no-repeat 40% center;
        background-size: cover;
    }

    &__heading {
        background-color: var(--color-main);
        font-size: 3rem;
        padding: var(--padding-default);

        @include tablet {
            font-size: 5rem;
        }
    }

    @include tablet {
        height: auto;
        flex-grow: 1;
    }
}

.logo-image {
    width: 100%;
    padding: var(--padding-default);
}

.contact {
    background-color: var(--color-main);
    padding: var(--padding-default);

    height: 100vh;
    max-height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        height: auto;
    }

    &__link {
        color: var(--color-second);
        text-decoration: none;
        display: block;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;

        &--bigger {
            font-size: 2.5rem;
            flex-grow: 1;
        }

        &--alt-color {
            color: var(--color-third);
        }

        &--withIcon {
            display: flex;
            align-items: center;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.tablet-wrapper {
    @include tablet {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.link__icon {
    height: 1.2em;
    margin-right: 0.5rem;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

// h2 {
//     font-size: 2.8rem;
// }

// header {
//     position: relative;
//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;
// }

// .photo-box {
//     background: url(../img/background-huge.jpg) no-repeat 40% center;
//     background-size: cover;

//     height: calc(100% - 20rem); //scale background photo
// }

// .logo-box {
//     display: flex;
//     background-color: var(--color-second);
//     margin-bottom: var(--negative-slant-horiz-param);
//     padding-bottom: var(--slant-horiz-param);
//     clip-path: polygon(
//         0 0,
//         100% 0,
//         100% calc(100% - var(--slant-horiz-param)),
//         0 100%
//     );
// }

// .heading-logo {
//     width: 100vh;

//     &__image {
//         margin: 1.5rem;
//         margin-bottom: 0;
//     }
// }

// main {
//     position: relative;
//     background-color: var(--color-main);
//     padding: 5rem 3rem;
//     height: 100vh;
// }

// .heading-primary {
//     width: 100%;
//     background-color: var(--color-main);
//     position: absolute;
//     padding-top: var(--slant-horiz-param);
//     padding-bottom: 2rem;

//     clip-path: polygon(0 var(--slant-horiz-param), 100% 0, 100% 100%, 0 100%);
//     bottom: 0;
//     text-align: center;

//     &--main,
//     &--sub {
//         display: block;
//         padding: 0.75rem;
//     }

//     &--main {
//         color: var(--color-third);
//     }
// }
