:root {
    --color-main: #d60b52;
    --color-second: #ffffff;
    --color-third: #0a0a0a;

    --slant-horiz-param: 2.5rem;
    --negative-slant-horiz-param: calc(var(--slant-horiz-param) * -1);
}

// ------------------------------------------------------------------------------------------

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Baloo', cursive;
    color: var(--color-second);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 130%;
}

h2 {
    font-size: 2.8rem;
}

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.photo-box {
    background: url(../img/background-huge.jpg) no-repeat 40% center;
    background-size: cover;

    height: calc(100% - 20rem); //scale background photo
}

.logo-box {
    display: flex;
    background-color: var(--color-second);
    margin-bottom: var(--negative-slant-horiz-param);
    padding-bottom: var(--slant-horiz-param);
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--slant-horiz-param)),
        0 100%
    );
}

.heading-logo {
    width: 100vh;

    &__image {
        margin: 1.5rem;
        margin-bottom: 0;
    }
}

main {
    position: relative;
    background-color: var(--color-main);
    padding: 5rem 3rem;
    height: 100vh;
}

.heading-primary {
    width: 100%;
    background-color: var(--color-main);
    position: absolute;
    padding-top: var(--slant-horiz-param);
    padding-bottom: 2rem;

    clip-path: polygon(0 var(--slant-horiz-param), 100% 0, 100% 100%, 0 100%);
    bottom: 0;
    text-align: center;

    &--main,
    &--sub {
        display: block;
        padding: 0.75rem;
    }

    &--main {
        color: var(--color-third);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.contact__link {
    color: var(--color-second);
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

    &--bigger {
        font-size: 2.5rem;
        flex-grow: 1;
    }

    &--alt-color {
        color: var(--color-third);
    }

    &--withIcon {
        display: flex;
        align-items: center;
    }

    &:hover {
        text-decoration: underline;
    }
}

.link__icon {
    height: 1.2em;
    margin-right: 0.5rem;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
