:root {
  --color-main: #d60b52;
  --color-second: #ffffff;
  --color-third: #0a0a0a;
  --padding-default: 2rem;
  --slant-horiz-param: 2.5rem;
  --negative-slant-horiz-param: calc(var(--slant-horiz-param) * -1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Baloo', cursive; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 130%;
  text-align: center; }

@media (min-width: 1023px) {
  .desktop-wrapper {
    height: 100vh;
    display: flex;
    justify-content: flex-end; } }

@media (min-width: 1023px) {
  .desktop-wrapper__photo-box {
    height: 100%;
    width: 100%;
    background: url(../img/background-huge.jpg) no-repeat 40% center;
    background-size: cover; } }

@media (min-width: 400px) {
  .tablet-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; } }

@media (min-width: 1023px) {
  .tablet-wrapper {
    background-color: var(--color-main); } }

.site-header {
  height: 100vh;
  min-height: 50rem;
  display: grid;
  grid-template-rows: auto 1fr auto; }
  @media (min-width: 400px) {
    .site-header {
      grid-template-rows: 1fr auto; } }
  @media (min-width: 400px) {
    .site-header__logo {
      position: absolute;
      right: 0;
      width: 45%; } }
  @media (min-width: 1023px) {
    .site-header__logo {
      position: static; } }
  .site-header__photo-box {
    background: url(../img/background-huge.jpg) no-repeat 40% center;
    background-size: cover; }
    @media (min-width: 1023px) {
      .site-header__photo-box {
        display: none; } }
  .site-header__heading {
    background-color: var(--color-main);
    font-size: 3rem;
    padding: var(--padding-default); }
    @media (min-width: 800px) {
      .site-header__heading {
        font-size: 4rem; } }
  @media (min-width: 400px) {
    .site-header {
      height: auto;
      flex-grow: 1; } }

.logo-image {
  width: 100%;
  padding: var(--padding-default); }

.contact {
  background-color: var(--color-main);
  padding: var(--padding-default);
  height: 100vh;
  max-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 400px) {
    .contact {
      height: auto; } }
  .contact__link {
    color: var(--color-second);
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }
    .contact__link--bigger {
      font-size: 2.5rem;
      flex-grow: 1; }
    .contact__link--alt-color {
      color: var(--color-third); }
    .contact__link--withIcon {
      display: flex;
      align-items: center; }
    .contact__link:hover {
      text-decoration: underline; }

.link__icon {
  height: 1.2em;
  margin-right: 0.5rem; }

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
