:root {
  --color-main: #d60b52;
  --color-second: #ffffff;
  --color-third: #0a0a0a;
  --padding-default: 2rem;
  --slant-horiz-param: 2.5rem;
  --negative-slant-horiz-param: calc(var(--slant-horiz-param) * -1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Baloo', cursive;
  color: var(--color-second); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 130%;
  text-align: center; }

.site-header {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; }
  .site-header__photo-box {
    background: url(../img/background-huge.jpg) no-repeat 40% center;
    background-size: cover; }
  .site-header__heading {
    background-color: var(--color-main);
    font-size: 3rem;
    padding: var(--padding-default); }

.logo-image {
  width: 100%;
  padding: var(--padding-default); }

.contact {
  background-color: var(--color-main);
  padding: var(--padding-default);
  height: 100vh;
  max-height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact__link {
    color: var(--color-second);
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem; }
    .contact__link--bigger {
      font-size: 2.5rem;
      flex-grow: 1; }
    .contact__link--alt-color {
      color: var(--color-third); }
    .contact__link--withIcon {
      display: flex;
      align-items: center; }
    .contact__link:hover {
      text-decoration: underline; }

.link__icon {
  height: 1.2em;
  margin-right: 0.5rem; }

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
